// -------------- MOBILE-FIRST --------------
.page-header{
	margin:auto;
	h1{
		color: $mainColor; 
		border-bottom: 2px solid $mainColor;
		text-align: center; 
		padding-bottom: $marginSmall; 
		font-weight: 300; 
		position:relative;
		a{
			font-size: 25px;
			position: absolute;
			left:-20px;
			top:15px;
			&:hover{
				border:none;
			}
		}	
	}

}

.pagesimple-block{
	margin:auto;
}

.left-col{
	border-top: 1px solid #292929; 
	margin-top: $marginBig;
	padding-top: $marginBig;
	h2{
		font-size: $textSize;
		border-bottom: 1px solid $mainColor;
		padding-bottom: $marginSmall;
		&::before{
      content: '→ ';
    }
	}
	p{
		font-size: $menuSize; 
	}
}

main .content.ateliers-list{
	ul {
		padding:0;
		.year-title{
			padding-bottom: $marginSmall;
			border-bottom: 1px solid $mainColor;
			text-align: center; 
		}
		li{
			position:relative;
			.atelier-image-cover{
				transition: all 0.5s ease; 
				opacity:1;
			}
			&:hover{
				.atelier-image-cover{
					opacity: 0.8;
				}
			} 
			.atelier-title{
				position: absolute; 
				background: rgba(29,29,29,0.7);
				bottom: 7px; 
				left: 1rem; 
				right: 1rem; 
				h2{
					color: #FFF; 
					font-size: $menuSize;
					margin: 0; 
					padding: $marginSmall;
				}
			}
			&:before{
				content:"";
			}	
		}
	}
}

.image-gallery{
	a:hover{border:none;}
	figure{
		transition: all 0.5s ease; 
		opacity:1;
		&:hover{
			opacity: 0.8;
		} 
	}
}

.content .portraits-list{
	ul{
		padding-left:0;
		margin-top: $marginBig;
	}
	ul > li {
		cursor: pointer;
		margin-bottom:$marginNormal;
		&::before{
			content:"";
			margin:0;
		}
		h2{
			margin-bottom: 0;
			margin-top: 0;
			text-align:center;
			border-bottom: none;
			padding-bottom: 0;
		}
		&.active{
			h2{
				// border-bottom: 1px solid $mainColor;
				// padding-bottom: $marginSmall;
			}
		}

	}
	section{
		border-bottom: 1px solid $mainColor;
		padding-top: $marginSmall;
		padding-bottom: $marginSmall;
		article{
			max-height: 0; 
			overflow: hidden; 
			transition: all 1s ease-in-out;
			&.show{
				margin-bottom: $marginBig;
				max-height: 5000px;
			}
		}
	}
}

.content .ressources{
	a{
		color: #000; 
	}

	section article {
		h3 {
			// border-bottom:1px solid #BFBFBF;
			text-decoration: none;
			padding-bottom: $marginSmall;
			// text-align: center; 
		}
		p:first-child{
			margin-top: 0; 
		}
		p{
			font-size: $menuSize;
		}
		.image-cover{
			padding-right:0;
		}
	}
}



// -------------- DESKTOP PROJECTS --------------
@media only screen and (min-width: 64em){
	.left-col{
		padding-right: $marginBig;
		border-top: none; 
		margin-top: 0;
		padding-top: 0;
	}

	.page-header{
		h1{
			a{
				font-size: 40px;
				left:-60px;
				top:10px;
			}	
		}

	}


}

