// -------------- MOBILE-FIRST HEADER --------------

header{
	width: 100%;
	max-width: 100%;
	position: fixed;
	left:0;
	top:0; 
	background: $mainColor;
	z-index: 100; 
	align-items: center;
	&.row{margin:0;}
	a{text-decoration:none;}
	.mobile-menu{
		display:flex;
		justify-content: space-between;
		align-items:center;
		width: 100%;
	}
	.mobile-menu_logo, .desktop-menu_logo{
		padding: $marginSmall;
		h1{
			color: #FFF; 
			font-weight: 300; 
			font-style: normal; 
			font-size: 1.5rem;
			margin-left: $marginSmall;
			margin-bottom: 0;
			margin-top:0;
		}
		a{
			border:none;
		}
	}
	.mobile-menu_btn{
		display:block;
		position:relative;
		margin:0px 50px;
		cursor:pointer;
		height:24px;
		span {
		  display:block;
		  background:#FFF;
		  height:2px;
		  width:35px;
		  position:absolute;
		  transition:all 0.5s ease;
		}
		span:nth-child(1){top:0px;}
		span:nth-child(2){top:10px;}
		span:nth-child(3){top:20px;}

		.transparent {opacity:0;}
		.rotate-top{transform:rotatez(45deg);-webkit-transform-origin:0%;left:2px}
		.rotate-bottom{transform:rotatez(-45deg);-webkit-transform-origin: 15%;}
	}
	.nav{
		max-height:0; 
		overflow:hidden; 
		margin:0;
		padding-left: 25px;
		width: 100%;
		transition: all 1s linear;
		font-size: $menuSize;
		font-weight: 500;
		&.active{
			max-height: 100vh; 
			overflow: auto;
		}
	}
	.main-nav{
		margin-top: $marginSmall;
		margin-bottom: $marginNormal;
		padding-left:0;
		li{
			list-style: none;
			color:#FFF;
			flex: 1 1 0;
			display: flex;
			margin-bottom: $marginSmall;
			a{
				color: #FFF;
				&:hover{
					color: #FFF;
					border-bottom: 2px solid currentcolor;
				}
			}
			&.active{
				a{
					color: #FFF;
					border-bottom: 2px solid currentcolor;
					&::before{
						background-size: 100% 100%;
					}
				}
			}				
		}
	}
	.main-nav_first-level{
		font-weight: 700;
		margin: 0px 10px 0px 0px; 
		display: block;

	}
}


// -------------- DESKTOP HEADER --------------
@media only screen and (min-width: 48em){
	header{
		padding: 0px;
		#canvas-wrapper{
			width: 84px;
			height: 84px;  
			padding: 10px;
			border: 2px solid #FFF; 
		}
		.mobile-menu_logo, .desktop-menu_logo{
			padding: $marginSmall $marginBig;
			h1{
				font-size:2rem;
				margin-top: 23px;
			}
		}
		.nav{ 
			height:auto; 
			min-height:auto;
			max-height: none;
			padding-left: $marginBig;
		}
		.main-nav_first-level{
			margin:0;
			display: flex;
			flex: 2;
		}
		.main-nav{
			margin-top:0;
			margin-bottom: 0;
			// padding: 5px 0 $marginSmall $marginSmall;
			li{
				text-align: center;
				justify-content: center;
				margin-bottom: 0;
				a::before{
					display:block;
					margin: 8px auto;
				}
			}
		}
		.desktop-menu{
			padding: 0;
		}
	}
}

@media only screen and (max-width: 1040px){
	header{
		#canvas-wrapper{
			display:none;
		}
		.desktop-menu_logo h1{
			margin:0;
			font-size: 3vw;
		}
	}
}